.backimg {
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.top-div {
	width: 100%;
	background: #D82B0E;
	text-align: center;
	color: #ffffff;
}


.black-cover {

	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.60);
}


.btn-pop {
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	padding: 15px 0;
}


.popup-box {
	position: absolute;
	width: 75%;
	top: 50%;
	left: 50%;
	ms-transform: translate(-50%, -60%);
	-moz-transform: translate(-50%, -60%);
	-webkit-transform: translate(-50%, -60%);
	-o-transform: translate(-50%, -60%);
	transform: translate(-50%, -60%);
	background-color: #fff;
	padding-top: 15px;
	border-radius: 8px;
}

.box-tit {
	font-size: 18px;
	color: #333333;
}

.popup-box p {
	text-align: center;
	font-size: 16px;
	color: #333333;
	padding: 16px 20px 14px;
}

.intoPlay {
	background: #19C571;
	height: 36px;
	width: 126px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 auto;

}

.popup-wrapper {
	z-index: 99999;
}

.warning-title {
	font-size: 20px;
	color: #333333;
	text-align: left;
	padding: 0 19px;
}

.warning-title img {
	width: 20px;
	height: 20px;
	margin-right: 9px;
}

.logoimg {
	width: 76px;
	margin-top: 10%;
	margin-bottom: 21px;
}

.adress-div {
	text-align: left;
	bottom: 10px;
	margin-top: 10%;
	padding-left: 20px;
	padding-bottom: 26px;
}

.adress-div img {
	width: 31px;
}

.adress-div p {
	display: block;
	float: left;
}

.logo-title {
	font-size: 24px;
}

.middle-box {
	padding: 21px 16px 21px;
	color: #333333;
}

.button-box {
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 15px;
	width: 100%;
}

.button-box::after {
	content: "";
	clear: both;
}

.button-box .button {
	width: 48%;
	height: 45px;
	float: left;
	line-height: 45px;
	border-radius: 3px;
	background-color: #F4F4F4
}

.button.success {
	float: right;
	background: #19C571;
	color: #FFFFFF;

}
